{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}update_greenconf_form{% endblock %}
{% block form_action %}{% url horizon:greennova_dashboard:greenconfs:update greenconf.id %}{% endblock %}

{% block modal-header %}{% trans "Update Configuration" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can edit the Green Nova configuration." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Update Configuration" %}" />
  <a href="{% url horizon:greennova_dashboard:greenconfs:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
